# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Android
local.properties
.externalNativeBuild
.cxx
*.keystore
!debug.keystore

# Desktop
*.dll
*.so
*.dylib

# Native libraries
!external/*.dll
!external/*.so
!external/*.dylib

# Secrets
secrets.properties

# OS
.DS_Store
Thumbs.db
.kotlin/errors/
external/
stuff/